.menu{
    list-style: none;
    position: fixed;
    right: 20;
    top: 40;
    z-index: 999;
    
    
}
.items{
    
    padding: 20px;
    
}
.items:hover{
    background-color: antiquewhite;
    font-size: 20px;
    font-family: cursive;
    
}
a:hover{
    color: white;
    background-color: aliceblue;
}